body {
  padding-bottom: 20px;
}
.navbar{
	margin-bottom: 0px;
}
.btn-download{
	width:200px;
	border-radius: 0px;
}

.navbar-nav>li>a {
width: 110px;
text-align: center;
}

.img-main{
	height:300px;
	
}
.img-logo{
	height:300px;
	padding: 35px;
}
.img-product-logo {
height: 250px;
padding: 25px;
}
/*
.background-image-holder{
	background-image: url("http://placehold.it/50x50");
	 background: url("http://placehold.it/50x50") no-repeat center center fixed; 
}
*/
@media screen and (min-width: 768px){
.jumbotron {
padding: 68px 0;
}
}