body {
  padding-bottom: 20px;
}
.navbar{
	margin-bottom: 0px;
}
.btn-download{
	width:200px;
	border-radius: 0px;
}

.navbar-nav>li>a {
width: 110px;
text-align: center;
}

.img-main{
	height:300px;
	
}

@media screen and (min-width: 768px){
.jumbotron {
padding: 88px 0;
}
}